<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <script type="text/javascript" href="../../Resources/SCRIPT/myScript.js" th:href="@{Resources/SCRIPT/myScript.js}" ></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    
    <link href="../../Resources/CSS/style.css" rel="stylesheet" type="text/css" th:href="@{Resources/CSS/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Avatar - WebChat</title>
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>
    
    <div layout:fragment="content"></div>
    
    <div th:replace="fragments/footer :: footer"></div>
    
    <script>
      $( document ).ready(function(){
        $('.button-collapse').sideNav({
          menuWidth: 320, // Default is 240
          edge: 'left', // Choose the horizontal origin
          closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
          draggable: true // Choose whether you can drag to open on touch screens
        }
      );})
    </script>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </body>
</html>
