<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html layout:decorator="main/layout">
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div layout:fragment="content">
      <div class="row">
        <div class="col s4 userpage-info-card">
            <div class="card">
              <div class="card-image">
                <img src="../../../resources/AVATAR/avatar4.png" th:src="@{/resources/AVATAR/avatar4.png}" alt="Contact Person">
              </div>

              <div class="card-content">
                <p>
                  This is the settings page where you can delete your account
                </p>
              </div>
            </div>
        </div>
        <div class="col s8 change-password-container">
          <div class="row">
            <form class="col s12" action="#" th:action="@{/main/settings/deleteAccount}" th:object="${user}" method="post" 
                  onsubmit="return confirm('Are you sure you want to delete your account? This is a final warning!!')">
              <div class="row">
                <h3 class="col s12">
                  Delete account
                </h3>
               <a class="waves-effect waves-light btn amber accent-3 white-text col s2 go-back"
                th:href="@{/main/settings}">
                  <i class="material-icons left">replay</i>Go back</a>
              </div>
              <div class="row">
                <!-- blockquote for error messages -->
                  <div th:if="${error_message}">
                      <blockquote class="card-panel chip red white-text">
                          Error: <span th:text="${error_message}"></span>
                          <i class="close material-icons">close</i>
                      </blockquote>
                  </div>
              </div>
              
              <!-- Div for password label and input field -->
              <div class="row">
                <div class="input-field col s8">
                  <input class='validate' type='password' name='password' id='password' required minlength="8"/>
                  <label>Your password</label>
                </div>
              </div>
              
              <!-- Div for password again label and input field -->
              <div class="row">
                <div class="input-field col s8">
                  <input class='validate' type='password' name='password_again' id='password_again' required minlength="8"/>
                  <label>Your password again</label>
                </div>
              </div>
              
              <!-- Center tag for submit button -->
              <center>
                  <div class='row'>
                      <a href='#' > 
                        <button type='submit' name='btn_login' class='col s6 btn btn-large waves-effect red '>Delete account!!</button>
                      </a>
                  </div>
              </center>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
