<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html layout:decorator="main/layout">
  <head>
    <link rel="stylesheet" href="../../../resources/autoComplete/awesomplete.base.css" type="text/css"/>

    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div layout:fragment="content">
      
      <div id="message-box" style="visibility: hidden">
        <blockquote class="card-panel chip  amber darken-4 white-text" id="close_message">
          Server message: <span id="message-span"></span>
          <i class="closeButton material-icons" >close</i>
        </blockquote>
      </div>
      
      <div class="row">
        <div class="col s4 userpage-info-card">
            <div class="card">
              <div class="card-image">
                <img src="../../../resources/AVATAR/avatar4.png" th:src="@{/resources/AVATAR/avatar4.png}" alt="Contact Person">
              </div>

              <div class="card-content">
                <p>
                  This is the settings page where you can change your password
                </p>
              </div>
            </div>
        </div>
        <div class="col s8 change-password-container">
          <div class="row">
            <form class="col s12" id="sub_form">
              <div class="row">
                <h3 class="col s12">
                  Change subscription
                </h3>
               <a class="waves-effect waves-light btn amber accent-3 white-text col s2 go-back"
                th:href="@{/main/settings}">
                  <i class="material-icons left">replay</i>Go back</a>
              </div>
              <div class="row">
                <!-- blockquote for error messages -->
                  <div th:if="${error_message}">
                      <blockquote class="card-panel chip red white-text">
                          Error: <span th:text="${error_message}"></span>
                          <i class="close material-icons">close</i>
                      </blockquote>
                  </div>
              </div>
              
              <!-- Switch -->
              <div class="switch">
                <label>
                  Off
                  <input type="checkbox" name="checkbox_sub" id="checkbox_sub">
                  <span class="lever"></span>
                  On
                </label>
              </div> 
              
              <!-- Div for your password label and input field -->
              <div class="row">
                <div class="input-field col s8">
                  <input class='validate ' type='password' name='your_password' id='your_password' required minlength="8"/>
                  <label for='your_password'>Your password</label>
                </div>
              </div>
              
              <!-- Center tag for submit button -->
              <center>
                  <div class='row'>
                      <a href='#'> 
                        <button type='submit' name='btn_login' class='col s6 btn btn-large waves-effect teal '>Change subscription</button>
                      </a>
                  </div>
              </center>
            </form>
          </div>
        </div>
      </div>
    </div>
    
  <th:block layout:fragment="script">
    <style type="text/css">
      i.closeButton.material-icons:hover {
       cursor:pointer;
      }
    </style>
    
    <script type="text/javascript">
      $(document).ready(function(){
        var subscribtion = "[[${session.user.isSubscriber}]]";
       
        if (subscribtion > 0) {
          $("#checkbox_sub").prop('checked', true);
        }else{
          $("#checkbox_sub").prop('checked', false);
        }
        
      });
      
      $("#sub_form").submit(function(evt){
        evt.preventDefault();
        var herokuSub = 'https://' + window.location.host + '/main/settings/changeSubscription';
        var localSub = "/WebChat/main/settings/changeSubscription";
        
        
        var sub = $("#checkbox_sub").is(':checked');
        var password = $("#your_password").val();
    
        $.post(localSub,{
          your_password: password,
          range_sub: sub
        }, function(response){
          document.getElementById("message-span").innerHTML = response;
          $("#message-box").css("visibility", "visible");
        });
      });
      
      $("#close_message").click(function(evt){
        evt.preventDefault();
        $("#message-box").css("visibility", "hidden");
      })
      
    </script>
  </th:block>
  </body>
</html>
