/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-nov-14, 13:53:26
    Author     : Smulan
*/

html {
  height: 100vh;
}
body {
  min-height: 100vh;
  overflow: hidden;
}

.material-icons.teal999 { color: #008080; }


.nav-wrapper.col.s12.red.lighten-2{
    margin-top: 0vh;
}

.col.s10.teal.lighten-4{
    min-height: 90vh;
    margin-top: 0vh;
}

.col.s10.grey.lighten-3{
    min-height: 90vh;
    margin-top: 0vh;
}

.iframeDiv{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.iframeDivNoob{
    border: 1px solid #000;
}




