/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-nov-14, 13:53:26
    Author     : Smulan
*/

html {
  height: 100vh;
}
body {
  min-height: 100vh;
  
}

.material-icons.teal999 { color: #008080; }
.material-icons.red999 { color: #e57373; }
.collapsible-body a{
    color: #e57373;
    font-weight:  bold;
}
.collapsible-body .chip{
    color: #e57373;
    font-weight:  bold;
}

.util{
    text-align: center;
    
}
.util i{
    margin: 8px;
    
}



.headerP{
    
   vertical-align: center;
}
.chip{
    margin-top: 2vh;
}


.col.s3.red.lighten-2{
    height: 10vh;
}
.col.s9.red.lighten-2{
    height: 10vh;
    
}
.collection-item.avatar .material-icons{
    margin: 15px;
}

.col.s10.grey.lighten-4{
    min-height: 90vh;
    margin-top: 0vh;
}

.col.s10.grey.lighten-3{
    min-height: 90vh;
    margin-top: 0vh;
}

.iframeDiv{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    overflow: auto;
}

.iframeDivNoob{
    border: none;
    width: 120vh;
    height: 75vh;
    overflow: auto;
}






