/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-nov-14, 13:53:26
    Author     : Smulan
*/

html {
  height: 100vh;
}
body {
  min-height: 100vh;
  overflow: hidden;
}
#row2{
    overflow-y: scroll;
}

.col.s3.grey.lighten-3{
    min-height: 100vh;
    max-height: 100vh;
    }

.col.s9.grey.lighten-4{
    min-height: 100vh;
    max-height: 100vh;
}

.labelForFriend{
    font-weight: bold;
    font-size: 105%;
}

div.card-action.profile-page-button{
    padding: 12px !important;
}

.friends-header{
    text-align: center;
}

