/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-nov-14, 13:53:26
    Author     : Smulan
*/

html {
  height: 100vh;
}
body {
  min-height: 100vh;
  overflow: scroll-y;
}
a.wide {
    display:block;
}

#row2{
    overflow-y: hidden;
    height: 100%;
    padding-bottom: 10%;
}

.col.s3.grey.lighten-3{
    min-height: 100vh;
    max-height: 100vh;
    }

.col.s9.grey.lighten-4{
    min-height: 100vh;
    max-height: 100vh;
}

.labelForFriend{
    font-weight: bold;
    font-size: 105%;
}

div.card-action.profile-page-button{
    padding: 12px !important;
}

div.card-action.friend-request-button-container{
    padding: 7px !important;
}

.friends-header{
    text-align: center;
}

.h1-header-welcome-page{
    margin-top: 20%;
    text-align: center;
}

.h3-header-welcome-page{
    text-align: center;
}

.userpage-info-card{
    padding-top: 5% !important;
}

.table-header{
    font-size: 230%;
    border-bottom: solid 2px;
    padding-bottom: 1%;
    width: 50%;
}

span.table-title{
    font-weight: bold;
    font-size: 140%;
}

td.tablerow{
    margin-bottom: 5%;
}

span.table-text{
    font-size: 140%;
}

div.col.s8.table-container{
    margin-top: 8%;
}

div.col.s8.change-password-container{
    margin-top: 1%;
}

a.waves-effect.waves-light.btn.amber.accent-3.white-text.col.s2.go-back{
    margin-left: 1%;
}

.conversationDiv{
    position: fixed;
    bottom: 3%;
    left: 12%;
    display: auto;
}

input#inputChat{
    margin-top: 5%;
    width: 70%;
}

.message-div{
    width: 70%;
    margin: auto;
    padding-left: 5px;
    padding-top: 5px;
    -webkit-box-shadow: 2px 1px 11px 4px rgba(50, 50, 50, 0.13);
    -moz-box-shadow:    2px 1px 11px 4px rgba(50, 50, 50, 0.13);
    box-shadow:         2px 1px 11px 4px rgba(50, 50, 50, 0.13);
}

.message-list-window{
    width: 100%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    position: relative;
    height: 60vh;
    width: 60vw;
    -webkit-box-shadow: 2px 1px 11px 4px rgba(50, 50, 50, 0.13);
    -moz-box-shadow:    2px 1px 11px 4px rgba(50, 50, 50, 0.13);
    box-shadow:         2px 1px 11px 4px rgba(50, 50, 50, 0.13);
}

div#message-list-chat.message-list-chat{
    overflow: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

p.message-text{
    padding-bottom: 5px;
}

span#chat-room-header.chat-room-header{
    font-size: 200%;
}

.header-div-chat{
    text-align: center;
}





