<!DOCTYPE html>

<html layout:decorator="main/layout">
  <head>
    <title>Avatar - WebChat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 

  </head>
  <body>

    <div class="col s9 grey lighten-4" layout:fragment="content" >
      <div>
        <h5 class="chat-room-header" id="chat-room-header"></h5>
        <!-- Dropdown Trigger -->
        <a class='dropdown-button btn' href='#' data-activates='add-friends-chat'>Drop Me!</a>

        <!-- Dropdown Structure -->
        <ul id='add-friends-chat' class='dropdown-content'>
          
        </ul>
        
      <!--<a class="btn-floating btn-small red">
            <i id="addToGroup" class=" material-icons">playlist_add</i>Add Friend To Group
        </a>-->
        <a class="btn-floating btn-small red">
            <i id="addToGroup" class=" material-icons">not_interested</i>Leave Group
        </a>
      </div>
      
      <div class="message-list-window">
        <div class="message-list-chat" id="message-list-chat"></div>
      </div>
          <div class="conversationDiv">
            <div class="chatButton">
              <input type="text" id="inputChat" placeholder="Write a message..."/>
              <a id="sendMessage" class="btn-floating btn-small red">
                   <i class=" material-icons">mode_edit</i>Send
              </a>
            </div>
          </div>
    </div>
        
    <th:block layout:fragment="script">
       
      <script type="text/javascript">
            
            var ws;
            var stompClient;
            
            var usersInCurrentRoom;
            var friends;
            var groups;
       
        $(document).ready(function(){
            document.querySelector('#sendMessage').addEventListener('click', send);
            ws = new SockJS("/WebChat/chat");
            //ws = new SockJS('http://' + window.location.host + '/chat');
            //ws = new SockJS('https://avatar-web-chat.herokuapp.com/chat');
            stompClient = Stomp.over(ws);
            stompClient.connect({}, function(frame){
            console.log("Connected to Websocket!");
            stompClient.subscribe("/topic/"+"[[${roomId}]]"+"/messages", function(message){
                // Parse JSON object
                var content = JSON.parse(message.body);
                
                // Create element for the message
                var messagesContainer = document.createElement("div");
                var text = document.createElement("p");
                var time = document.createElement("span");
                var img = document.createElement("img");
                var div = document.createElement("div");
                var chipDiv = document.createElement("div");
                var chipAtag = document.createElement("a");
                
                // Set attributes to the elements
                img.setAttribute('th:src', "@{/resources/AVATAR/avatar2.png}");
                img.setAttribute('src', "../../resources/AVATAR/avatar2.png");
                img.setAttribute('alt', 'Profile picture');
                chipDiv.className = 'chip';
                chipDiv.appendChild(img);
                chipAtag.appendChild(document.createTextNode(content.from));
                chipAtag.setAttribute('href', "/WebChat/main/user/" + content.from);
                chipDiv.appendChild(chipAtag);
                
                text.appendChild(document.createTextNode(content.text));
                time.appendChild(document.createTextNode(content.time));
                text.className = 'message-text';
                time.className = 'message-time';
                
                div.appendChild(chipDiv);
                div.appendChild(time);
                div.appendChild(text); 
                div.className = 'message-div';
                
                //var textnode = document.createTextNode(content.time +"| "+ img +content.from + " says " + content.text);
                messagesContainer.appendChild(div);
                document.getElementById("message-list-chat").appendChild(messagesContainer);
                $('#message-list-chat').scrollTop($('#message-list-chat')[0].scrollHeight);
            });
                       
            stompClient.subscribe("/app/getOnlineFriends", function(JsonListOfOnlineFriends){ 
                friends = JSON.parse(JsonListOfOnlineFriends.body);
                for (var friend in friends) {
                   if (friends.hasOwnProperty(friend)) {
                       var aTag = document.createElement('a');
                       aTag.setAttribute('href',"/WebChat/main/chat/"+friends[friend].roomId);
                       aTag.setAttribute('id', 'friendStyle');
                       var textnode = document.createTextNode(friends[friend].username);
                       aTag.appendChild(textnode);
                       var mybr = document.createElement('br');
                       document.getElementById("usersOnline").appendChild(aTag);
                       document.getElementById("usersOnline").appendChild(mybr);
                   }
                }    
            }); 
            
            stompClient.subscribe("/app/getGroups", function(JsonListOfGroups){
                groups = JSON.parse(JsonListOfGroups.body);
                
                for(var group in groups){
                    if (groups.hasOwnProperty(group)) {
                        var aTag = document.createElement('a');
                        aTag.setAttribute('href',"/WebChat/main/chat/"+groups[group].roomId);
                        var textnode = document.createTextNode("No Named Group");
                        aTag.appendChild(textnode);
                        var mybr = document.createElement('br');
                        document.getElementById("groupList").appendChild(aTag);
                        document.getElementById("groupList").appendChild(mybr); 
                    }
                }         
            });
            
            stompClient.subscribe("/app/"+"[[${roomId}]]"+"/getRoomUsers", function(JsonArrayOfUsersInRoom){
                document.getElementById("chat-room-header").innerHTML = "Chat room with: ";
                usersInCurrentRoom = JSON.parse(JsonArrayOfUsersInRoom.body);
                var possibleAddFriends = friends;
                for (var user in usersInCurrentRoom) {
                    if (usersInCurrentRoom.hasOwnProperty(user)) {
                       document.getElementById("chat-room-header").innerHTML +=  " " + usersInCurrentRoom[user].username;
                    }
                }    
                
                for (var i = 0; i < usersInCurrentRoom.length; i++) {
                    for (var k = 0; k < possibleAddFriends.length; k++) {
                        if (usersInCurrentRoom[i].username === possibleAddFriends[k].username) {
                            var pos = possibleAddFriends.indexOf(possibleAddFriends[k]);
                            possibleAddFriends.splice(pos, 1);
                        }
                    }
                }
                fillDropDownList(possibleAddFriends);
            });
            });//Connect Socket
        });//Doc on ready
         $(document).keypress(function (e) {
            if (e.which == 13) {
                send();
            }
        });
        
        $('.dropdown-button').dropdown({
          inDuration: 300,
          outDuration: 225,
          constrain_width: false, // Does not change width of dropdown to that of the activator
          hover: true, // Activate on hover
          gutter: 0, // Spacing from edge
          belowOrigin: false, // Displays dropdown below the button
          alignment: 'left' // Displays dropdown with edge aligned to the left of button
          }
        );
        
        function fillDropDownList(possibleAddFriends){
          $('#add-friends-chat').empty();
          for (var user in possibleAddFriends) {
            if (possibleAddFriends.hasOwnProperty(user)) {
                var li = document.createElement('li');
                var a = document.createElement('a'); 
                a.setAttribute('onclick',"createGroup("+possibleAddFriends[user].userId+")");
                a.appendChild(document.createTextNode(possibleAddFriends[user].username));
                li.appendChild(a);
                document.getElementById('add-friends-chat').appendChild(li);
            }
          }
        }
        
        function createGroup(userToBeAdded){
            stompClient.send("/app/chat/[[${roomId}]]/"+userToBeAdded);
        }
        
        function send(){
            var message = document.getElementById("inputChat").value;
            if(message === ""){
                return;
            }
            var user = "[[${session.user.username}]]";
            var userId = "[[${session.user.id}]]";
            stompClient.send("/app/chat/[[${roomId}]]",{}, JSON.stringify({'from':user, 'text':message, 'user_id':userId}));
            document.getElementById('inputChat').value='';
        }
      
    </script>
      <script src="../../scripts/sockjs-0.3.4.js" th:src="@{/scripts/sockjs-0.3.4.js}"></script>
      <script src="../../scripts/stomp.js" th:src="@{/scripts/stomp.js}"></script>
  </th:block>
  </body>
</html>
