
<html layout:decorator="main/layout">
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  </head>
  <body>

    <div class="col s9 grey lighten-4" layout:fragment="content">
      <h1>Friend Request</h1>
      <tr th:each="friend : ${friendRequests}">
             
    <div class="col s7">
        <div class="card horizontal">
            <div class="card-image">
                <img src="../../../resources/AVATAR/avatar4.png" th:src="@{/resources/AVATAR/avatar4.png}" alt="Contact Person">
        </div>
        <div class="card-stacked">
        <div class="card-content">
            <h3><td th:text="${friend.username}">Friend </td></h3>
            
                <span class="labelForFriend">Name: </span>
                  <p th:text="${friend.firstname} + ' ' + ${friend.lastname}"></p>
                
              </div>
        <div class="card-action ">
           <a class="left green-text text-lighten-2" th:href="@{/main/friendResponse/true/{id}.htm(id=${friend.id})}"><i class="small material-icons green-text lighten-2">thumb_up</i> Accept</a>
          <a class="right red-text text-lighten-2" th:href="@{/main/friendResponse/false/{id}.htm(id=${friend.id})}"><i class="small material-icons red-text  lighten-2">thumb_down</i> Reject</a>
        </div>
      </div>
    </div>
  </div>
        
      </tr>
    </div>
        
  
  </body>
</html>

