<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html layout:decorator="main/layout">
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div layout:fragment="content">
      <div class="row" th:if="${not #lists.isEmpty(friendList)}">
        <div class="col s4" th:each="friend : ${friendList}">
          <h4 class="header" th:text="${friend.username}"></h4>
          <div class="card horizontal">
            <div class="card-image">
              <img src="../../../resources/AVATAR/avatar4.png" th:src="@{/resources/AVATAR/avatar4.png}" alt="Contact Person">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p th:text="${friend.firstname}"></p>
                <p th:text="${friend.lastname}"></p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span th:if="${#lists.isEmpty(friendList)}">Sorry, you have no friends :(</span>
    </div>
  </body>
</html>
