<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <script type="text/javascript" src="../../scripts/myScript.js" th:src="@{/scripts/myScript.js}" ></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    
    <link rel="stylesheet" href="../../styles/style.css" type="text/css" th:href="@{/styles/style.css}">
    <link rel="stylesheet" href="../../autocomplete/awesomplete.css" th:href="@{/autocomplete/awesomplete.css}" />  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Avatar - WebChat</title>
  </head>
  <body>    
      <div class="col s12" th:replace="fragments/header :: header"></div>
    <div class="row">
        <div id="row2" class="col s9 grey lighten-4" layout:fragment="content"></div>
        <div class="col s3 grey lighten-3" th:replace="fragments/online :: online"></div>
      
      
    </div>
     
      
  <th:block layout:fragment="script">
    
  </th:block>
    <script>
      $( document ).ready(function(){
         $(".button-collapse").sideNav();
    })
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

  </body>
</html>
