<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <script type="text/javascript" src="../../scripts/myScript.js" th:src="@{/scripts/myScript.js}" ></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    
    <link rel="stylesheet" href="../../styles/style.css" type="text/css" th:href="@{/styles/style.css}">
   <!-- <link rel="stylesheet" href="../../autocomplete/awesomplete.css" th:href="@{/autocomplete/awesomplete.css}" />-->  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Avatar - WebChat</title>
  </head>
  <body>    
      <div class="col s12" th:replace="fragments/header :: header"></div>
         <div class="row">
        <div id="row2" class="col s9 grey lighten-4" layout:fragment="content"></div>
        <div class="col s3 grey lighten-3" th:replace="fragments/online :: online"></div>
      
      
         </div>
     
  
  <th:block layout:fragment="script">
    
  </th:block>
  <script>
   
  </script>
    
    <script>
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
        var ws;
        var stompClient;
        var currentUserId = "[[${session.user.id}]]";
        var friends;
        var groups; 
        var wsLinkForHeroku = 'https://' + window.location.host;
        
        if (window.location.hostname === 'localhost') {
                wsLinkForHeroku = 'http://' + window.location.host;
        }
        
        //ws = new SockJS("/rooms");
        ws = new SockJS(wsLinkForHeroku + '/rooms');
        //ws = new SockJS('https://avatar-web-chat.herokuapp.com/chat');
        stompClient = Stomp.over(ws);
        stompClient.connect({}, function (frame) {
                stompClient.subscribe("/app/getOnlineFriends/"+currentUserId, function (JsonListOfOnlineFriends) {
                friends = JSON.parse(JsonListOfOnlineFriends.body);
                for (var friend in friends) {
                    if (friends.hasOwnProperty(friend)) {
                        var aTag = document.createElement('a');
                        aTag.setAttribute('href', wsLinkForHeroku + "/main/chat/"+friends[friend].roomId);
                        //aTag.setAttribute('href', "/main/chat/" + friends[friend].roomId);
                        aTag.setAttribute('id', 'friendStyle');
                        var textnode = document.createTextNode(friends[friend].username);
                        aTag.appendChild(textnode);
                        var mybr = document.createElement('br');
                        document.getElementById("usersOnline").appendChild(aTag);
                        document.getElementById("usersOnline").appendChild(mybr);
                    }
                }  
            });


            stompClient.subscribe("/app/getGroups/"+currentUserId, function (JsonListOfGroups) {
                groups = JSON.parse(JsonListOfGroups.body);

                for (var group in groups) {
                    if (groups.hasOwnProperty(group)) {
                        var aTag = document.createElement('a');
                        aTag.setAttribute('href', wsLinkForHeroku + "/main/chat/"+groups[group].roomId);
                        //aTag.setAttribute('href', "/main/chat/" + groups[group].roomId);
                        var textnode = document.createTextNode(groups[group].groupname);
                        aTag.appendChild(textnode);
                        var mybr = document.createElement('br');
                        document.getElementById("groupList").appendChild(aTag);
                        document.getElementById("groupList").appendChild(mybr);
                    }
                }
            });  
        updateGroups();
        function updateGroups() {
        stompClient.send("/app/chat/[[${session.user.id}]]/update");
        }


        });//Socket Connect


        });//On ready
    </script>
    <script src="../../scripts/sockjs-0.3.4.js" th:src="@{/scripts/sockjs-0.3.4.js}"></script>
      <script src="../../scripts/stomp.js" th:src="@{/scripts/stomp.js}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

  </body>
</html>
