
<html layout:decorator="main/layout">
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div layout:fragment="content">
      <h1>Lists of users</h1>
        <tr th:each="user : ${users}">
        <div>
        <p th:text="${user.username}"></p>
        <a th:href="@{/users/{id}/details(id=${user.id},action='show_all')}">User page</a>
        </div>
       
       

      </tr>
   
  
  </body>
</html>

