
<html layout:decorator="main/layout">
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  </head>
  <body>
    <div layout:fragment="content">

      <h1>Lists of users</h1>

      <input class="awesomplete" data-list="#mylist" />
        <ul id="mylist" th:each="user : ${users}">
	<li><a th:href="@{user/{username}.htm(username=${user.username})}"><span th:text="${user.username}"/></a></li>
        </ul>
       
        <div>
        
      
        </div>
       
       

      </tr>
   
  
  </body>
</html>

