<!DOCTYPE html>

<html layout:decorator="main/layout">
  <head>
    <title>Avatar - WebChat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  </head>
  <body>

    <div class="col s9 grey lighten-4" layout:fragment="content">
    <h3>Search user</h3>
        
    <input class="awesomplete" list="mylist" onChange="window.location.href='user/'+this.value" />
    <datalist id="mylist">

        <option th:each="user : ${users}" >
        <span th:text="${user.username}">Username</span>

    </datalist>    
    

    </div>
        
    <th:block layout-fragment="script">
            <!-- <script src="../../../resources/autoComplete/awesomplete.js" async th:src="@{/resources/autoComplete/awesomplete.js}"></script>-->
  </th:block>
  </body>
</html>

