<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html layout:decorator="main/layout">
    <head>
        <title>Avatar - WebChat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      <div layout:fragment="content">
        
        <div id="message-box" style="visibility: hidden">
          <blockquote class="card-panel chip  amber darken-4 white-text">
              Server message: <span id="message-span"></span>
              <i class="close material-icons">close</i>
          </blockquote>
        </div>
        
        <div class="row">
          <div class="col s4 userpage-info-card">
              <div class="card">
                <div class="card-image">
                  <img src="../../../resources/AVATAR/avatar4.png" th:src="@{/resources/AVATAR/avatar4.png}" alt="Contact Person">
                  <span class="card-title black white-text" th:text="${user.username}"></span>
                </div>
                
                <div class="card-content">
                  <span>
                    Hello my name is <span class="red-text text-lighten-2" th:text="${user.firstname} + ' ' + ${user.lastname}"></span>!
                  </span>
                  <p>
                    Add me if you want so we can be friends for ever and ever!
                  </p>
                </div>
                
                <div class="card-action">
                  <div th:if="${#bools.isTrue(isFriend)}" class="profile-page-float-me">
                      <form th:action="@{/main/removeFriend/{id}(id=${user.id})}" 
                            onsubmit="return confirm('Are you sure you want to remove this friend?')"
                            method="post">
                          <button class="waves-effect waves-light btn red">Remove me</button>
                      </form>
                  </div>
                  <div th:if="${#bools.isFalse(isFriend)}" class="profile-page-float-me">
                      <form th:action="@{/main/friendRequest/{id}(id=${user.id})}"
                            method="post">
                          <button class="waves-effect waves-light btn green">Add me</button>
                      </form>
                  </div>
                  <div>
                    <a id="reportThatUser"
                       class="waves-effect waves-light btn amber darken-4"
                       onclick="reportUserFunction()">Report user</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      
    <th:block layout:fragment="script">
      <script>
          function reportUserFunction(){
            var herokuReportUser = 'https://'+ window.location.host + '/main/reportUser';
            
            
            if (window.location.hostname === 'localhost') {
                herokuReportUser = 'http://' + window.location.host + '/main/reportUser';
            }
            
            var answer = prompt('Why do you want to report this user?', 'Enter reason here...');
            console.log(answer);
            
            if (answer !== null) {
              $.post(herokuReportUser, {
                userId: "[[${user.id}]]",
                username: "[[${user.username}]]",
                answer: answer
              }, function (data){
                  document.getElementById("message-span").innerHTML = data;
                  $("#message-box").css("visibility", "visible");
              });
            }
            
          }
      </script>
    </th:block>
       
    </body>
</html>
