<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html layout:decorator="main/layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div layout:fragment="content">
                
            <h3 th:text="${user.username}">Username</h3>
            
            Name:<span th:text="${user.firstname}">Firstname</span>  
            <span th:text="${user.lastname}">Lastname</span>
            Email:<span th:text="${user.email}">Email</span>
            
            <a th:href="@{/friendRequest/{id}(id=${user.id})}">Send friend request</a>
        </div>
       
    </body>
</html>
