<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html layout:decorator="main/layout">
  <head>
    <title>Avatar - WebChat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div layout:fragment="content">
      <div class="col s12 grey lighten-4">
        
        <!-- blockquote for error messages -->
        <div th:if="${error_message}">
            <blockquote class="card-panel chip red white-text">
                Error: <span th:text="${error_message}"></span>
                <i class="close material-icons">close</i>
            </blockquote>
        </div>
        
        <div th:if="${success_message}">
            <blockquote class="card-panel chip green white-text">
                Success: <span th:text="${success_message}"></span>
                <i class="close material-icons">close</i>
            </blockquote>
        </div>
        
        
        <h1 class="h1-header-welcome-page">Welcome to</h1>
        <h3 class="h3-header-welcome-page">Avatar WebChat</h3>
      </div>
    </div>
  </body>
</html>
