<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Avatar - WebChat</title>
  </head>
<body>
        
        
  <nav class="pink" id="navBar" th:fragment="header">
    Menu
    <a href="#!" class="center brand-logo"><i class="material-icons">cloud</i>Avatar - WebChat</a>
    
  
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
  </nav>
</body>
</html>
