<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Avatar - WebChat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
  <nav th:fragment="header" class="red lighten-2">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li th:if="${session.user.isAdmin} == 1">
        <a href="/admin/reports" th:href="@{/admin/reports}">Reports</a>
        <a href="/admin/disabledAccounts" th:href="@{/admin/disabledAccounts}">Banned</a>
      </li>
      <li><a href="/main/settings" th:href="@{/main/settings}">Settings</a></li>
      <li class="divider"></li>
      <li><a href="/main/logout" th:href="@{/main/logout}">Logout</a></li>
    </ul>
    
    <div class="nav-wrapper">
      <a href="/main/welcome" th:href="@{/main/welcome}" class="brand-logo"><i class="material-icons">cloud</i>Avatar - WebChat</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/main/chat/none" th:href="@{/main/chat/none}">Chat</a></li>
        <li><a href="/main/friendRequests" th:href="@{/main/friendRequests}">Friend Requests</a></li>
        <li><a href="/main/friends" th:href="@{/main/friends}">Friends</a></li>
        <li><a href="/main/contentSearch" th:href="@{/main/search}">Search</a></li>
        <li><a class="dropdown-button wide" data-activates="dropdown1" href="#!">
          <div class="chip">         
            <img src="../../../resources/CSS/style.css" rel="stylesheet" th:src="@{/resources/AVATAR/avatar2.png}" alt="Contact Person">
            <span th:text="${session.user.firstname} + ' ' + ${session.user.lastname}"></span>
          </div>
        </a></li> 
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li th:if="${session.user.isAdmin} == 1">
            <a href="/admin/reports" th:href="@{/admin/reports}">Reports</a>
            <a href="/admin/disabledAccounts" th:href="@{/admin/disabledAccounts}">Banned</a>
        </li>
        <li><a href="/main/friendRequests" th:href="@{/main/friendRequests}">Friend Requests</a></li>
        <li><a href="/main/chat/none" th:href="@{/main/chat/none}"/>Chat</li>
        <li><a href="/main/friends" th:href="@{/main/friends}">Friends</a></li>
        <li><a href="/main/contentSearch" th:href="@{/main/search}">Search</a></li>
        <li><a href="/main/logout" th:href="@{/main/logout}">Logout</a></li>
        
        <li><a class="wide" th:href="@{/main/settings}"><div class="chip">
                  
          <img src="../../../resources/CSS/style.css" rel="stylesheet" th:src="@{/resources/AVATAR/avatar2.png}" alt="Contact Person">
          <span th:text="${session.user.firstname} + ' ' + ${session.user.lastname}"></span>
      
            </div></a></li>  
      </ul>
    </div>
  </nav>
      
  </body>
</html>
