<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Avatar - WebChat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
      <nav th:fragment="header" class="red lighten-2">
    <div class="nav-wrapper">
      <a href="/main/welcome.htm" th:href="@{/main/welcome.htm}" class="brand-logo"><i class="material-icons">cloud</i>Avatar - WebChat</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/main/friendRequests.htm" th:href="@{/main/friendRequests.htm}">Friend Requests</a></li>
        <li><a href="/main/friends.htm" th:href="@{/main/friends.htm}">Friends</a></li>
        <li><a href="/main/contentSearch.htm" th:href="@{/main/search.htm}">Search</a></li>
       <li><a href="/main/logout.htm" th:href="@{/main/logout.htm}">Logout</a></li>
          <li><a class="wide" th:href="@{/main/settings.htm}"><div class="chip">
                  
          <img src="../../../resources/CSS/style.css" rel="stylesheet" th:src="@{/resources/AVATAR/avatar2.png}" alt="Contact Person">
          <span th:text="${session.user.firstname} + ' ' + ${session.user.lastname}"></span>
      
            </div></a></li> 
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/main/friendRequests.htm" th:href="@{/main/friendRequests.htm}">Friend Requests</a></li>
        <li><a href="/main/friends.htm" th:href="@{/main/friends.htm}">Friends</a></li>
        <li><a href="/main/contentSearch.htm" th:href="@{/main/search.htm}">Search</a></li>
        <li><a href="/main/logout.htm" th:href="@{/main/logout.htm}">Logout</a></li>
        
        <li><a class="wide" th:href="@{/main/user/{username}.htm(username=${session.user.username})}"><div class="chip">
                  
          <img src="../../../resources/CSS/style.css" rel="stylesheet" th:src="@{/resources/AVATAR/avatar2.png}" alt="Contact Person">
          <span th:text="${session.user.firstname} + ' ' + ${session.user.lastname}"></span>
      
            </div></a></li>  
      </ul>
    </div>
  </nav>
      
  </body>
</html>
