<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Avatar - WebChat</title>
    </head>
    <body>
        
      <div class="col s3 grey lighten-3" th:fragment="online" >
        <h3>Online Users</h3>
        <ul id='usersOnline'>
            
            
        </ul>
      </div>
    </body>
</html>
